[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tornado = "*"
tornado-rest-swagger = "*"
six = "==1.11.0"
protobuf = "==3.6.0"

[dev-packages]

[requires]
python_version = "3.9"
